<%- include('../includes/head'); -%>
<%- include('../includes/top_nav'); -%>
<%- include('../includes/side_nav'); -%>
<%- include('../includes/start'); -%>

<section class="content">

    <div class="card">
        <div class="card-body p-0">
            <div class=" table-responsive">
                <table class="table table-striped projects mb-0">
                    <thead>
                        <tr>
                            <th>
                                <%- PANEL_LANG.userPanel.table_username %>
                            </th>
                            <th>
                                <%- PANEL_LANG.userPanel.table_rang %>
                            </th>
                            <th>
                                <%- PANEL_LANG.userPanel.table_email %>
                            </th>
                            <!--<th>
                            </th>
                            <th>
                            </th>-->
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="userlist"></tbody>
                </table>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

<div id="modallist"></div>

<!-- CodeMODAL -->
<form class="modal fade" id="addserver" tabindex="-1" method="post" action="#" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 700px">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title"><%- PANEL_LANG.userPanel.modal.title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <table class="table table-striped projects mb-0">
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Code
                        </th>
                    </tr>
                    </thead>
                    <tbody id="codes">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer input-group">
                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="<%- PANEL_LANG.userPanel.modal.cancel %>">
                <select class="form-control m-1" name="rank" required="">
                    <option value="0"><%- PANEL_LANG.userPanel.modal.user %></option>
                    <option value="1"><%- PANEL_LANG.userPanel.modal.admin %></option>
                </select>
                <input type="hidden" name="addCode" value="true">
                <input type="button" class="btn btn-success" onclick="createCode()" value="<%- PANEL_LANG.userPanel.modal.create %>">
            </div>
        </div>
    </div>
</form>

<script>
    // Vars die zur JS übergeben werden
    // Allgemeine Vars
    var vars = {};
    vars.lang_arr = <%- JSON.stringify(PANEL_LANG) %>;
</script>

<script src="/js/arkadmin2/pages/userpanel.js" type="application/javascript"></script>

<%- include('../includes/end'); -%>
<%- include('../includes/foother'); -%>